// fonts
$primary-font-stack: 'Mukta', Avenir, Helvetica, Arial, sans-serif;
$secondary-font-stack: 'Barlow Condensed', Avenir, Helvetica, Arial, sans-serif;

// absolute colors
$darkest-neutral: #000;
$lightest-neutral: #fff;

// text colors
$text-color-primary: $lightest-neutral;
$input-bg: #2c3f49;

// solid colors
$bg-color: #c75a4f;
$highlight: #832dd8;
$light-grey: #bebebe;
$grey: #868686;
$light-yellow: #f2ca27;
$dark-orange: #bb4a26;
$teal: #4884a2;
$darker-green: #7eb104;
$lighter-green: #7eb12c;
$navy: #0a415d;
$faded-blue: #636d8d;
$darkest-blue: #071d29;
$disabled: #a0abb1;
