$primary-font-stack: 'Poppins', Avenir, Helvetica, Arial, sans-serif;
$secondary-font-stack: 'Pattaya', Avenir, Helvetica, Arial, sans-serif;
$highlight: #832dd8;
$darkest-neutral: #000;
$lightest-neutral: #fff;
$text-color-primary: $lightest-neutral;
$light-grey: #bebebe;
$grey: #868686;