.app-footer {
    background-color: $darkest-blue;

    &--photos {
        display: flex;
        margin-top: 80px;

        & :nth-child(2n + 1) {
            margin-top: -60px;
        }

        & :nth-child(2n) {
            margin-top: -30px;
        }

        img {
            width: 20%;
            height: 20vw;
            object-fit: cover;
        }
    }

    .top-links {
        display: flex;
        justify-content: space-between;
        padding: 60px 218px 0;

        .pages a,
        .contact a {
            @include font-size(16, 700, uppercase, normal, 20);
        }

        a {
            transition: color 0.3s ease;

            &:hover {
                color: $light-yellow;
            }
        }

        .pages {
            display: flex;
            flex-direction: column;
        }

        .media {
            text-align: center;
            margin-left: 50px;

            .logo {
                width: 120px;
                height: 120px;
            }

            .socials ul {
                font-size: rem(30);
                width: 200px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                li {
                    position: relative;

                    &:last-child {
                        &::after {
                            content: "";
                            position: absolute;
                            top: 5px;
                            left: -7px;
                            width: 1px;
                            height: 70%;
                            background-color: $lightest-neutral;
                        }
                    }
                }
            }
        }

        .contact {
            text-align: right;

            h5 {
                max-width: 220px;

                &:not(:first-of-type) {
                    margin-top: 13px;
                }
            }

        }
    }

    form {
        position: relative;
        width: 35.5%;
        margin: 40px auto 0;
        padding-bottom: 20px;
        text-align: center;

        .form-heading {
            @include font-size(24, 300, uppercase, normal, 30);
            font-family: $secondary-font-stack;
        }

        .search-container:first-of-type {
            margin: 17px 0 30px;
            
            input {
                font-weight: 300;
            }
        }

        .search-container:nth-child(3n + 1) {
            width: 35%;
            margin: 6px auto 20px;
        }

        .checkboxes {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .form-checkbox {
                width: 40%;
                text-align: left;
            }
        }

        .learn-more__animated {
            transition: all 0.3s ease;
            cursor: pointer;
            width: 115px;
            height: 40px;
            display: flex;
            align-items: center;
            margin: 40px auto 0;

            &:hover {
                &::before {
                    width: 100%;
                }
            }

            &::before {
                width: 35%;
                background-color: $dark-orange;
            }
        }

        .disclaimer {
            display: inline-block;
            font-weight: 300;
            margin: 79px 0 69px;
            text-decoration: underline;
            color: $light-yellow;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
                color: $dark-orange;
            }
        }
    }
}